/* Style Untuk Studi Kasus */

/*1. Lingkaran */

#lingkaran {
    background-color: beige;                /*  warna background */
    -moz-border-radius: 200px;                 /* yg bikin rounded */
    -webkit-border-radius: 200px;
    text-align: center;                     /*  posisi text */
    display: table-cell;
    vertical-align: middle;
    width: 200px;
    height: 200px;
    padding: 10px;
    border: 2px solid brown;
}

/* 2. Lengkung  */

#lengkung {
    width: 250px;
    padding: 10px;
    border-bottom-right-radius: 20px;          /* yg bikin rounded */
    border-top-left-radius: 20px;        /* yg bikin rounded */
    border: 2px solid purple;
}

/* 3. shadow */

#shadow {
    width: 250px;
    padding: 10px;
    border: 2px solid grey;
    box-shadow: 10px 10px 5px grey;         /* yang ngatur ada shadow */
}